## Ход работы: 
На основе данных про выпитые напитки я строю ML модель, которая кластеризирует наблюдения в кластеры, я использую model = KMeans с 3 кластерами, и делаю полезный инсайт выводя среднее значение по кластерам относительно каждого напитка

In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from matplotlib import style
style.use("ggplot")

In [3]:
df = pd.read_csv("beverage_r.csv", sep=';', header = 0, index_col=False)

In [5]:
df.head()

   numb.obs  COKE  D_COKE  D_PEPSI  D_7UP  PEPSI  SPRITE  TAB  SEVENUP
0         1     1       0        0      0      1       1    0        1
1         2     1       0        0      0      1       0    0        0
2         3     1       0        0      0      1       0    0        0
3         4     0       1        0      1      0       0    1        0
4         5     1       0        0      0      1       0    0        0

In [6]:
df.describe()

,numb.obs,COKE,D_COKE,D_PEPSI,D_7UP,PEPSI,SPRITE,TAB,SEVENUP
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000
mean,17.500000,0.588235,0.500000,0.235294,0.205882,0.470588,0.323529,0.323529,0.264706
std,9.958246,0.499554,0.507519,0.430562,0.410426,0.506640,0.474858,0.474858,0.447811
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,17.500000,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,25.750000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.750000
max,34.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
#Делим на количество кластеров - 3, запускаем модель
model = KMeans(n_clusters=3, verbose=0)
model.fit(df)

KMeans(n_clusters=3)

In [10]:
print(model.labels_)
#Вот какие лейблы у наших кластеров

[2 2 2 2 2 2 2 2 2 2 2 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1]

In [11]:
print(model.cluster_centers_)
#Координаты центров кластеров

[[17.          0.54545455  0.45454545  0.27272727  0.09090909  0.45454545
   0.36363636  0.18181818  0.18181818]
 [28.5         0.41666667  0.66666667  0.33333333  0.33333333  0.25
   0.16666667  0.5         0.25      ]
 [ 6.          0.81818182  0.36363636  0.09090909  0.18181818  0.72727273
   0.45454545  0.27272727  0.36363636]]

In [13]:
#Добавление новых значений и определение кластера

new_items = [[1,1,1,1,1,1,1,1,1], [0,0,0,0,0,0,0,0,0]]
print(model.predict(new_items))

[2 2]

In [16]:
K = range(1,11)
models = [KMeans(n_clusters=k, random_state=42, verbose=0).fit(df) for k in K]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:881: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [17]:
dist = [model.inertia_ for model in models]

In [19]:
df['cluster'] = model.labels_
mns = df.groupby('cluster').mean()

In [21]:

print(mns)

         numb.obs      COKE    D_COKE   D_PEPSI     D_7UP     PEPSI    SPRITE  \
cluster
0            17.0  0.545455  0.454545  0.272727  0.090909  0.454545  0.363636
1            28.5  0.416667  0.666667  0.333333  0.333333  0.250000  0.166667
2             6.0  0.818182  0.363636  0.090909  0.181818  0.727273  0.454545

              TAB   SEVENUP
cluster
0        0.181818  0.181818
1        0.500000  0.250000
2        0.272727  0.363636

Наши кластеры можем описать следующим образом, 

0 кластер - любит попробовать разное 

1 кластер - любит деетическое

3 кластер - любит коричневое

In [22]:
#Размер наших класстеров
print(df.groupby('cluster').size())

cluster
0    11
1    12
2    11
dtype: int64